<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250401060274-dukauol57iiqi9rsn8cr2lpdabn63lfr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250401060274-dukauol57iiqi9rsn8cr2lpdabn63lfr</string>
	<key>API_KEY</key>
	<string>AIzaSyBDIZ7b1SJzluMBXKN5zEeaDnCNX40RiUU</string>
	<key>GCM_SENDER_ID</key>
	<string>250401060274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryuyeon.SongList</string>
	<key>PROJECT_ID</key>
	<string>songlist-f5d99</string>
	<key>STORAGE_BUCKET</key>
	<string>songlist-f5d99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250401060274:ios:5ed081b5b85d3b9cac60ab</string>
</dict>
</plist>